.row {
  display: flex;
}

.title-row {
  padding-top: 10%;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 50%;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.t-center {
  text-align: center;
}
