* {
  font-family: Roboto, sans-serif;
}

body {
  position: relative;
  background-color: #151515;
}

.nav-bar {
  background-color: #18181c;
  min-height: 56px;
  padding: 0 1rem;
}

.nav-bar a {
  background-color: inherit;
  border-style: none;
  text-decoration: none;
  color: white;
}

.nav-title-btn {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.catalog-btn {
  padding-left: 0.5rem;
  font-size: 16px;
  line-height: 24px;
}

.home-title {
  color: white;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
}

.search-bar-container {
  position: relative;
}

.search-bar-wrapper {
  width: 100%;
  max-width: 575px;
}

#search-bar {
  border-radius: 25px;
  border: none;
  background-color: #202020;
  font-size: 16px;
  line-height: 24px;
  padding: 6px;
  width: 100%;
  color: #9f9f9f;
}

#search-bar::placeholder {
  color: #9f9f9f;
}

#search-bar:focus {
  background-color: white;
  color: black;
  outline: none;
}

.results-popup {
  position: absolute;
  top: calc(10px + 36px);
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 575px;
  border-radius: 15px;
  background-color: black;
  min-height: 300px;
  max-height: 500px;
  width: 100%;
  color: white;
}

.results-popup .results-content > p {
  font-size: 16px;
  line-height: 24px;
  padding: 0 0.5rem;
}

.results-popup .results-content > span {
  color: #666;
}

.results-popup .loading-gif {
  width: 100%;
}

.results-content {
  width: 100%;
}

.results-entry {
  padding: 0 1rem;
  margin: 1rem 0;
  height: 40px;
}

.results-entry .image-wrapper {
  height: 100%;
  width: 35px;
}

.results-entry .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.results-entry-platform,
.results-entry-content {
  font-size: 14px;
  height: 50%;
  padding: 0 0.5rem;
}

.results-entry-platform > span > *:nth-child(n + 2) {
  padding-left: 1rem;
}

.results-entry:hover {
  cursor: pointer;
}

.fa-spinner {
  font-size: 1rem;
}
