* {
  font-family: Roboto, sans-serif;
}

button:hover {
  cursor: pointer;
}

body {
  position: relative;
  background-color: #151515;
}

.nav-bar {
  background-color: #18181c;
  min-height: 56px;
}

.nav-bar button {
  background-color: inherit;
  border-style: none;
  color: white;
}

.nav-title-btn {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.catalog-btn {
  font-size: 16px;
  line-height: 24px;
}

.home-title {
  color: white;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
}

.search-bar-wrapper {
  width: 100%;
  max-width: 575px;
}

#search-bar {
  border-radius: 25px;
  border: none;
  background-color: #202020;
  font-size: 16px;
  line-height: 24px;
  padding: 6px;
  width: 100%;
  color: #9f9f9f;
}

#search-bar::placeholder {
  color: #9f9f9f;
}

#search-bar:focus {
  background-color: white;
  color: black;
  outline: none;
}
